[Unit]
Description=LIN demo configuration
ConditionPathExists=/dev/ttyUSB0
 
[Service]
Type=forking
PIDFile=/run/lin_config/lin_config.pid
ExecStart=/usr/bin/start_lin_demo.sh
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
