[Unit]
Description=Eclipse KUKSA.val DBC feeder
Requires=kuksa-val.service can-dev-helper.service
After=kuksa-val.service can-dev-helper.service

[Service]
ExecStart=/usr/bin/dbcfeeder.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
