[Desktop Entry]
Version=1.0
Name=Weston Terminal (systemd)
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=weston-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
DBusActivatable=true
StartupNotify=true
