[Unit]
Description=AGL Homescreen
Requires=WebAppMgr.service dbus.service
After=WebAppMgr.service dbus.service

[Service]
Type=simple
Environment=AFM_ID=homescreen
Environment=AFM_APP_INSTALL_DIR=/usr/lib/wam_apps/html5-homescreen/
ExecStartPre=sleep 5
ExecStart=/usr/bin/WebAppMgr
Restart=on-failure

[Install]
WantedBy=agl-session.target
