[Desktop Entry]
Version=1.0
Name=HTML5 Background
Comment=Background
GenericName=Background
Exec=/usr/bin/WebAppMgr --appid=webapps-html5-background --app-install-dir=/usr/lib/wam_apps/html5-background/
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
