[Desktop Entry]
Version=1.0
Name=HTML5 Background
Comment=Background
GenericName=Background
Exec=env AFM_ID=webapps-html5-background AFM_APP_INSTALL_DIR=/usr/lib/wam_apps/html5-background/ /usr/bin/WebAppMgr
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
