[Unit]
Description=Eclipse KUKSA.val VIS server
After=network.target

[Service]
User=kuksa
EnvironmentFile=-/etc/default/kuksa-val
ExecStart=/usr/bin/kuksa-val-server $EXTRA_ARGS
Restart=on-abort

[Install]
WantedBy=multi-user.target
