[Unit]
Requires=agl-compositor.service
After=agl-compositor.service

[Service]
Type=simple
ExecStart=/usr/bin/tbtnavi
Restart=on-failure

[Install]
WantedBy=agl-session.target
