[Unit]
Description=cluster-dashboard

Requires=agl-compositor.service
After=agl-compositor.service

# Since we are part of the agl session, make sure we are started before
# it is complete.
Before=agl-session.target

[Service]
ExecStart=/usr/bin/cluster-dashboard

Restart=always

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=agl-session.target
