[Desktop Entry]
Version=1.0
Name=HTML5 Aquarium
Comment=Aquarium
GenericName=Aquarium
Exec=/usr/bin/WebAppMgr --appid=webapps-aquarium --app-install-dir=/usr/lib/wam_apps/html5-aquarium/
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
