[Desktop Entry]
Version=1.0
Name=HTML5 YouTube
Comment=YouTube
GenericName=YouTube
Exec=/usr/bin/WebAppMgr --appid=webapps-youtube --app-install-dir=/usr/lib/wam_apps/html5-youtube/
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
