[Desktop Entry]
Version=1.0
Name=HTML5 Examples
Comment=Examples of web contents
GenericName=Examples
Exec=/usr/bin/WebAppMgr --appid=webapps-examples --app-install-dir=/usr/lib/wam_apps/html5-examples/
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
