# @@@LICENSE
#
# Copyright (c) 2017-2018 LG Electronics, Inc.
#
# Confidential computer software. Valid license from LG required for
# possession, use or copying. Consistent with FAR 12.211 and 12.212,
# Commercial Computer Software, Computer Software Documentation, and
# Technical Data for Commercial Items are licensed to the U.S. Government
# under vendor's standard commercial license.
#
# LICENSE@@@

[Unit]
Description="WebAppMgr is responsible for running web apps and manage their lifecycle"
After=agl-compositor.service
Requires=agl-compositor.service
Before=agl-session.target
BindTo=agl-compositor.service

[Service]
Type=simple
UMask=0077
OOMScoreAdjust=-1000
EnvironmentFile=-/etc/default/WebAppMgr.env
ExecStart=/usr/bin/WebAppMgr --use-gl=egl --enable-features=UseOzonePlatform --ozone-platform=wayland --no-sandbox --use-viz-fmp-with-timeout=0 --in-process-gpu --remote-debugging-port=9998 --user-data-dir="/home/%u/wamdata" --webos-wam --agl-shell-appid=homescreen --disable-gpu-vsync --ignore-gpu-blocklist
ExecStop=pkill -U %U WebAppMgr
Restart=on-failure
RestartSec=50

[Install]
WantedBy=agl-session.target
