[Unit]
Description=AGL Launcher
Requires=WebAppMgr.service dbus.service
After=WebAppMgr.service dbus.service

[Service]
Type=simple
Environment=AFM_ID=launcher
Environment=AFM_APP_INSTALL_DIR=/usr/lib/wam_apps/html5-launcher/
ExecStartPre=sleep 1
ExecStart=/usr/bin/WebAppMgr
Restart=on-failure

[Install]
WantedBy=agl-session.target
