[Desktop Entry]
Version=1.0
Name=HTML5 Launcher
Comment=Launcher
GenericName=Launcher
Exec=/usr/bin/WebAppMgr --appid=launcher --app-install-dir=/usr/lib/wam_apps/html5-launcher/
Icon=settings
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
